
@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Đã gửi mail thành công!</h2>
<h2>Chúng tôi sẽ phản hồi sớm nhất có thể.</h2>


<p>
    @Html.ActionLink("Về trang chủ", "Home", "Store")
</p>