@{
    ViewBag.Title = "XacnhanDonhang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Thanh toán thất bại</h2>
<h3>Thanh toán này chưa được áp dụng. Xin vui lòng chọn thanh toán khác</h3>
<p>
    @Html.ActionLink("Về trang chủ", "Index", "Home")
</p>

