
@{
    ViewBag.Title = "XacnhanDonhang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="alert">Đơn hàng đã được xác nhận</h2>
<h3>Chúng tôi sẽ giao hàng cho bạn sớm nhất có thể !</h3>
<h3>Cảm ơn đã lựa chọn cửa hàng của chúng tôi </h3>
@*<p>
    @Html.ActionLink("Về trang chủ", "Home", "Store")
</p>*@
<div class="btn btn-outline-primary">
    @Html.ActionLink("Về trang chủ", "Home", "Store")
</div>
